services:
  searxng:
    image: searxng/searxng:latest
    restart: unless-stopped
    ports:
      - "8086:8080"
    volumes:
      - searxng-config:/etc/searxng
      - searxng-data:/var/cache/searxng

volumes:
  searxng-config:
  searxng-data:

