services:
  n8n:
    image: docker.n8n.io/n8nio/n8n:latest
    restart: unless-stopped
    ports:
      - "5678:5678"
    environment:
      GENERIC_TIMEZONE: "Etc/UTC"
      TZ: "Etc/UTC"
    volumes:
      - n8n-data:/home/node/.n8n

volumes:
  n8n-data:

