services:
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    restart: unless-stopped
    ports:
      - "8080:8080"
      - "6881:6881"
      - "6881:6881/udp"
    environment:
      PUID: 1000
      PGID: 1000
      TZ: Etc/UTC
    volumes:
      - qbittorrent-config:/config
      - qbittorrent-downloads:/downloads

volumes:
  qbittorrent-config:
  qbittorrent-downloads:

